@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

:root{
    --white: #ffffff;
    --text-light: #eff3ff;
    --white-opacidade01: rgb(255, 255, 255, 0.1);
    --white-opacidade05: rgb(255, 255, 255, 0.5);
    --white-opacidade07: rgb(255, 255, 255, 0.7);

    --bg-color: #fafbff;

    /* nav - parte 1: */
    --bg-color-nav1: #0067ff;
    --gradient-light-nav1: #008df0;
    --gradient-dark-nav1: #015fe2;
    --light-icon-nav1: #f4f9fe;
    --icons-nav1: #66a3ff;
    --hover-nav1: #1a76ff;
    --bg-color-icon-nav1: #025fe1;


    /* nav - parte 2: */
    --blue-nav2: #0067ff;
    --blue-nav2-letter: #0363f2;
    --light-blue-nav2: #ecf1ff;
    --gradient-img-light: #f4fbff;
    --gradient-img-dark: #cde2ff;
    --bg-nav2-hc: #e0ecfc;
    --icons-nav2: #bac2d0;
    --text-nav: #52536c;
    --color-hover-nav2: #0068FF;

    /* Card green: */
    --bg-card-green: #00d0c2;
    --gradient1-card-green: #45DDD1;
    --gradient2-card-green: #24D9CA;

    /* Card blue: */
    --bg-card-blue: #4B71F0;
    --gradient1-card-blue: #6D8DF4;
    --gradient2-card-blue: #607DF2;


    /* Card orange: */
    --bg-card-orange: #EF854B;
    --gradient1-card-orange: #F29B6E;
    --gradient2-card-orange: #F0925C;
}

/* div{
    border: 1px solid black;
} */

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Inter', sans-serif;
}

html{
    font-size: 62.5%;
}

.container{
    height: 100%;
    display: flex;
}

/* ----------------- Menu: ----------------- */
nav{
    display: flex;
    width: 25%;
}

.menu-icons{
    height: 100vh;
    width: 4rem;
    background: var(--bg-color-nav1);
}

.imenu-icons{
    display: flex;
    font-size: 2.5rem;
    color: var(--icons-nav1);
    padding: 0.5rem;
}

.amenu-icons{
    padding-bottom:2rem;
}

 .amenu-icons{
    display: flex;
    font-size: 2.5rem;
    
}
 .amenu-icons-ihl{
    display: flex;
    font-size: 2.5rem;
    color:var(--light-icon-nav1);
}

.iconshighleft{
    padding: 1rem 0.5rem 1rem 0.5rem;
    background: var(--bg-color-icon-nav1);
    margin-bottom: 2rem;
}

/* ----------------- Nav 2 : ----------------- */

.menu, h3{
    font-size: 1.5rem;
}

.menu{
    /* display: flex; */
    width: 100%;
    gap: 0.3rem;
    flex-direction: column;
}

.menu, .ulmenu{
    margin: 2rem;
}
/* ---------health care---------*/
.amenu-hc{
    padding: 2rem 1rem;
    display:flex;
    align-items:center;
    color: var( --blue-nav2-letter);
    background: var( --bg-nav2-hc);
    border-radius: 1rem;
    margin-bottom: 3.8rem;
}
.imenu-hc{
    padding-right: 1.5rem;
    font-size: 2rem;
}

.amenu{
    display:flex;
    align-items:center;
    color: var( --text-nav);
}

.imenu{
    color: var( --icons-nav2);
    padding-right: 1.5rem;
    font-size: 2rem;
}

.limenu{
    transition: all .5s;
    border: 0.5rem solid transparent;
    margin: 2rem;
}
/*------------------------hover-----------------------------*/

nav .menu .limenu-ol{
    width: 15rem;
    padding: 1rem;
    transition: 0.2s;
    border-radius: 1rem;
}

nav .menu .limenu-ol:hover{
   background:var(--bg-color-icon-nav1);
    
}

.limenu-ol:hover{
    background:var(--bg-color-icon-nav1);
    cursor: pointer;
    transition: 0.5s;
}

 .limenu-ol .amenu-ol .imenu-ol:rover{
    background:var(--bg-color-icon-nav1);
}
 
.limenu-ol:hover h3{
    color:var(--light-blue-nav2);
}

.limenu-ol:hover i{
    color:var(--light-blue-nav2);
}

/*-----------------------sub topico-------------------------*/

.amenu-ol{
    padding-left:3rem;
    padding-top: 1rem;
    display: flex;
    color: var( --icons-nav2);
}

.imenu-ol{
    padding-right: 1.5rem;
    font-size: 2rem;
}

/*----------------------imagem------------------------*/

.image-nav{
    width: 25rem;
    border-radius: 2rem;
    margin: 20% 7%;
    background: linear-gradient(var(--gradient-img-light), var(--gradient-img-dark))
}


.image-i{
    
    width: 100%;
    padding-bottom: 2rem;
}

.image-i h4{
    margin: 2rem 1rem 1rem 4.5rem;
}

.image-i h5{
    margin: 1rem 1rem 1rem 5rem;
}

.img-nav{
    width: 90%;
    padding: 1rem;   
}

.hospitalprofile{
    width: 100%;
    padding: 2rem 5rem;
    border-top: 1px solid var(--white);
    color: var(--bg-card-blue);
}
/*--------------------configuração------------------------*/
.config-nav{
    border-top: 1px solid var(--icons-nav2);
    padding: 2rem;
}
.aconfig{
    display: flex;
    color: var( --icons-nav2);
}

.iconfig{
    padding-right: 1.5rem;
    font-size: 2rem;
}

/* ------------------------------------------ */

.container2{
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 2rem 4.5rem 1rem 4.5rem;
    gap: 2rem;
    background: var(--bg-color);
}

/* ----------------- Header: ---------------- */
header{
    display: flex;
    justify-content: space-between;
    height: max-content;
    /* border: 1px solid black; */
    align-items: center;
    padding-top: 0.5rem;
}

.profile{
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 100%;
    box-shadow: 3px 2px 20px #b8bbc5;
}

.profile img{
    width: 100%;
    border-radius: 100%;
}

h2{
    color: var(--text-nav);
    font-size: 1.8rem;
    font-weight: 600;
}

/* ----------------- Cards: ----------------- */
/* "container" - cards */
.cards{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

/* text - cards */
.cards span{
    color: var(--text-light);
    color: var(--white-opacidade07);
    font-weight: 600;
}

.cards p, h1{
    z-index: 1;
}

.p1{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-light);
}

.cards h1{
    font-size: 2.5rem;
    color: var(--text-light);
}

.p2{
    font-size: 1.4rem;
    color: var(--white-opacidade05);
    font-weight: 500;
}

/* Cards green, blue e orange */
.card-green, .card-blue, .card-orange{
    width: 32%;
    height: 14vh;
    border-radius: 1.5rem;
    padding: 2rem;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-green{
    background: var(--bg-card-green);
    box-shadow: 3px 3px 30px lightblue;
}
.card-green .circle1{
    background: var(--gradient1-card-green);
}
.card-green .circle2{
    background: var(--gradient2-card-green);
}

.card-blue{
    background: var(--bg-card-blue);
    box-shadow: 3px 3px 30px lightblue;
}
.card-blue .circle1{
    background: var(--gradient1-card-blue);
}
.card-blue .circle2{
    background: var(--gradient2-card-blue);
}

.card-orange{
    background: var(--bg-card-orange);
    box-shadow: 3px 3px 30px lightsalmon;
}
.card-orange .circle1{
    background: var(--gradient1-card-orange);
}
.card-orange .circle2{
    background: var(--gradient2-card-orange);
}

/* icons - cards */
.icon-card{
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 1rem;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    background-image: linear-gradient(to bottom left, var(--white-opacidade05), var(--white-opacidade01));
    border: 1px solid var(--white-opacidade05);
}

/* Circles - cards */
.circle1, .circle2{
    border-radius: 100%;
    width: 12rem;
    position: absolute;
}
.circle1{
    height: 10rem;
}
.circle2{
    height: 12rem;
}

.card-green .circle1{
    bottom: -7rem;
    left: -2rem;
}
.card-green .circle2{
    bottom: -5rem;
    left: -1.5rem;
}

.card-blue .circle1, .card-orange .circle1{
    bottom: -7rem;
    left: -4rem;
}

.card-blue .circle2, .card-orange .circle2{
    bottom: -5rem;
    left: -3.5rem;
}

/* ----------- Gr�ficos - div 1: ------------ */

/* ----------- Gr�ficos - div 2: ------------ */
.graficos-div2{
    display: flex;
    justify-content: space-between;
    height: 43vh;
    gap: 2rem;
}

.div2-parte1{
    width: 68%;
}

.div2-parte2{
    width: 32%;
}

.div2-parte1, .div2-parte2{
    height: 100%;
    padding: 2rem;
}

/* ---------------- Footer: ---------------- */
footer{
    margin-top: 4rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--icons-nav2);
}