@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

:root {
    --white: #ffffff;
    --text-light: #eff3ff;
    --white-opacidade01: rgb(255, 255, 255, 0.1);
    --white-opacidade05: rgb(255, 255, 255, 0.5);
    --white-opacidade07: rgb(255, 255, 255, 0.7);

    --bg-color: #fafbff;

    /* nav - parte 1: */
    --bg-color-nav1: #0067ff;
    --gradient-light-nav1: #008df0;
    --gradient-dark-nav1: #015fe2;
    --light-icon-nav1: #f4f9fe;
    --icons-nav1: #66a3ff;
    --hover-nav1: #1a76ff;
    --bg-color-icon-nav1: #025fe1;
    --bg-color-icon-nav1-hover: #1975ff;

    /* nav - parte 2: */
    --blue-nav2: #0067ff;
    --blue-nav2-letter: #0363f2;
    --light-blue-nav2: #ecf1ff;
    --gradient-img-light: #f4fbff;
    --gradient-img-dark: #cde2ff;
    --bg-nav2-hc: #e0ecfc;
    --icons-nav2: #bac2d0;
    --text-nav: #52536c;
    --color-hover-nav2: #0068ff;

    /* Card green: */
    --bg-card-green: #00d0c2;
    --gradient1-card-green: #45ddd1;
    --gradient2-card-green: #24d9ca;

    /* Card blue: */
    --bg-card-blue: #4b71f0;
    --gradient1-card-blue: #6d8df4;
    --gradient2-card-blue: #607df2;

    /* Card orange: */
    --bg-card-orange: #ef854b;
    --gradient1-card-orange: #f29b6e;
    --gradient2-card-orange: #f0925c;

    /*Gr�fico 1: */
    --bg-bar-right: #04d1c1;
    --bg-bar-left: #027cf8;
    --bg-line: #ed7e42;
    --bg-notification: #2f3a6e;
    --letter-blue: #3b83d6;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}

body {
    font-family: 'Inter', sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    height: 100%;
    display: grid;
    grid-template-areas: 'nav content';
    background: var(--bg-color);
}
#nav {
    grid-area: nav;
    background-color: var(--white);
}
#content {
    grid-area: content;
}

nav {
    display: flex;
    width: 90%;
}

.menu-icons {
    width: 4rem;
    background: var(--bg-color-nav1);
}

.imenu-icons {
    display: flex;
    font-size: 2.5rem;
    color: var(--icons-nav1);
    padding: 0.5rem;
}

.amenu-icons {
    padding-bottom: 2rem;
}

.amenu-icons {
    display: flex;
    font-size: 2.5rem;
}
.amenu-icons-ihl {
    display: flex;
    font-size: 2.5rem;
    color: var(--light-icon-nav1);
}

.iconshighleft {
    padding: 1rem 0.5rem 1rem 0.5rem;
    background: var(--bg-color-icon-nav1);
    margin-bottom: 2rem;
}

/* ----------------- Nav 2 : ----------------- */

.menu,
h3 {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icones-graf h4 {
    font-size: 1.3rem;
}

.menu {
    /* display: flex; */
    width: 100%;
    gap: 0.3rem;
    flex-direction: column;
}

#open-menu h3,
#open-menu i {
    color: var(--blue-nav2-letter);
}

/* ---------health care---------*/
.amenu-hc {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    color: var(--blue-nav2-letter);
    background: var(--bg-nav2-hc);
    border-radius: 1rem;
    margin-bottom: 3.8rem;
}
.imenu-hc {
    padding-right: 1.5rem;
    font-size: 2rem;
}

.amenu {
    display: flex;
    align-items: center;
    color: var(--text-nav);
}

.limenu-ol a {
    display: flex;
    align-items: center;
}

.limenu-ol#cliente a {
    color: var(--bg-color-icon-nav1);
}

.limenu-ol#fornecedor a {
    color: var(--bg-color-icon-nav1);
}

.limenu-ol#estoque a {
    color: var(--bg-color-icon-nav1);
}

.imenu {
    color: var(--icons-nav2);
    padding-right: 1.5rem;
    font-size: 2rem;
}

.limenu {
    transition: all 0.5s;
    border: 0.5rem solid transparent;
    margin: 2rem;
}

nav .menu .limenu {
    width: 20rem;
    transition: 0.2s;
    border-radius: 1rem;
}

.amenu:hover {
    cursor: pointer;
    transition: 0.5s;
}

.amenu:hover h3 {
    color: var(--blue-nav2-letter);
}

.amenu:hover i {
    color: var(--blue-nav2-letter);
}
/*------------------------hover ol-----------------------------*/

nav .menu .limenu-ol {
    width: 15rem;
    padding: 1rem;
    transition: 0.2s;
    border-radius: 1rem;
}

nav .menu-icons a i:hover:not(.ri-collage-fill) {
    background: var(--bg-color-icon-nav1-hover);
    border-radius: 1rem;
    color: white;
}

nav .menu .limenu-ol:hover {
    background: var(--bg-color-icon-nav1);
}

.limenu-ol:hover {
    background: var(--bg-color-icon-nav1);
    cursor: pointer;
    transition: 0.5s;
}

.limenu-ol .amenu-ol .imenu-ol:rover {
    background: var(--bg-color-icon-nav1);
}

.limenu-ol:hover h3 {
    color: var(--light-blue-nav2);
}

.limenu-ol:hover i {
    color: var(--light-blue-nav2);
}

/*-----------------------sub topico-------------------------*/

.amenu-ol {
    display: flex;
    color: var(--icons-nav2);
}

.imenu-ol {
    padding-right: 1.5rem;
    font-size: 2rem;
}

.olmenu {
    padding-left: 3rem;
    padding-top: 1rem;
}

/*----------------------imagem------------------------*/

.image-nav {
    width: 25rem;
    border-radius: 2rem;
    margin: 20% 0 20% 0;
    background: linear-gradient(
        var(--gradient-img-light),
        var(--gradient-img-dark)
    );
}

.image-i {
    width: 100%;
    padding-bottom: 2rem;
}

.image-i h4 {
    margin: 2rem 1rem 1rem 4.5rem;
    color: var(--text-nav);
}

.image-i h5 {
    margin: 1rem 1rem 1rem 5rem;
    color: var(--text-nav);
}

.image-i h3 {
    color: var(--bg-card-blue);
}

.img-nav {
    width: 90%;
    padding: 1rem;
}

.hospitalprofile {
    padding: 2rem 5rem;
    border-top: 1px solid var(--white);
    color: var(--bg-card-blue);
}
/*--------------------configura��o------------------------*/
.config-nav {
    border-top: 1px solid var(--icons-nav2);
    padding: 2rem 2rem 0 2rem;
    width: 90%;
}
.aconfig {
    display: flex;
    color: var(--icons-nav2);
    align-items: center;
}

.iconfig {
    padding-right: 1.5rem;
    font-size: 2rem;
}

/* ------------------------------------------ */

.content {
    width: 95%;
    display: grid;
    padding-top: 2rem;
    gap: 2rem;

    grid-template-areas:
        'header'
        'cards'
        'graficos1'
        'graficos2'
        'footer';
}

#header {
    grid-area: header;
}
#cards {
    grid-area: cards;
}
#graficos1 {
    grid-area: graficos1;
}
#graficos2 {
    grid-area: graficos2;
}
#footer {
    grid-area: footer;
}

.content.content-index {
    justify-content: space-between;
}

/* ----------------- Header: ---------------- */
header {
    display: flex;
    justify-content: space-between;
    height: max-content;
    /* border: 1px solid black; */
    align-items: center;
    padding-top: 0.5rem;
    color: var(--text-nav);
}

.profile {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 100%;
    box-shadow: 3px 2px 20px #b8bbc5;
}

.profile img {
    width: 100%;
    border-radius: 100%;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

/* ----------------- Cards: ----------------- */
/* "container" - cards */
.cards {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

/* text - cards */
.cards span {
    color: var(--text-light);
    color: var(--white-opacidade07);
    font-weight: 600;
}

.cards p,
h1 {
    z-index: 1;
}

.p1 {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-light);
}

.cards h1 {
    font-size: 2.5rem;
    color: var(--text-light);
}

.p2 {
    font-size: 1.4rem;
    color: var(--white-opacidade05);
    font-weight: 500;
}

/* Cards green, blue e orange */
.card-green,
.card-blue,
.card-orange {
    width: 32%;
    height: 14vh;
    border-radius: 1.5rem;
    padding: 2rem;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-green {
    background: var(--bg-card-green);
    box-shadow: 3px 3px 30px lightblue;
}
.card-green .circle1 {
    background: var(--gradient1-card-green);
}
.card-green .circle2 {
    background: var(--gradient2-card-green);
}

.card-blue {
    background: var(--bg-card-blue);
    box-shadow: 3px 3px 30px lightblue;
}
.card-blue .circle1 {
    background: var(--gradient1-card-blue);
}
.card-blue .circle2 {
    background: var(--gradient2-card-blue);
}

.card-orange {
    background: var(--bg-card-orange);
    box-shadow: 3px 3px 30px lightsalmon;
}
.card-orange .circle1 {
    background: var(--gradient1-card-orange);
}
.card-orange .circle2 {
    background: var(--gradient2-card-orange);
}

/* icons - cards */
.icon-card {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 1rem;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    background-image: linear-gradient(
        to bottom left,
        var(--white-opacidade05),
        var(--white-opacidade01)
    );
    border: 1px solid var(--white-opacidade05);
}

/* Circles - cards */
.circle1,
.circle2 {
    border-radius: 100%;
    width: 12rem;
    position: absolute;
}
.circle1 {
    height: 10rem;
}
.circle2 {
    height: 12rem;
}

.card-green .circle1 {
    bottom: -7rem;
    left: -2rem;
}
.card-green .circle2 {
    bottom: -5rem;
    left: -1.5rem;
}

.card-blue .circle1,
.card-orange .circle1 {
    bottom: -7rem;
    left: -4rem;
}

.card-blue .circle2,
.card-orange .circle2 {
    bottom: -5rem;
    left: -3.5rem;
}

/* ----------- Graficos - div 1: ------------ */
.graficos-div1 {
    padding: 2rem;
}

.div1-parte1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.btns-div1 {
    display: flex;
    border-radius: 0.5rem;
}

.btns-div1 div {
    width: max-content;
    padding: 0.7rem 1.2rem;
    color: var(--bg-bar-left);
    font-weight: 400;
}

.btns-div1 div:not(.btn-right) {
    border: 1px solid var(--icons-nav2);
    border-width: 1px 0 1px 1px;
    background: var(--bg-color);
}

.btns-div1 div:hover {
    cursor: pointer;
    border-radius: 0.5rem;
    border: 1px solid var(--bg-bar-left);
    box-shadow: 0px 0px 6px var(--icons-nav2);
    font-weight: 600;
    background: var(--white);
}

.btn-left {
    border-radius: 0.5rem 0 0 0.5rem;
}

.btn-right {
    border-radius: 0 0.5rem 0.5rem 0;
    border: 1px solid var(--icons-nav2);
    border-width: 1px 1px 1px 1px;
}

.div1-parte3 {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.div1-parte3 h4 {
    color: var(--text-nav);
}

.table-parte1,
.table-parte3 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 3.5rem;
}

.bar-right,
.bar-left {
    width: 2rem;
    border-radius: 0.3rem 0.3rem 0 0;
}

.bar-left {
    background: var(--bg-bar-left);
    height: 10rem;
}

.bar-right {
    background: var(--bg-bar-right);
    height: 15rem;
}

.bars {
    display: flex;
    gap: 0.2rem;
    align-items: flex-end;
}

td {
    padding: 0 1.3rem;
}

.grafico-bars {
    height: 100%;
    display: flex;
    gap: 2.8rem;
}

.table-parte2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3rem 0;
    align-items: center;
    gap: 1rem;
}

/* ----------- Graficos - div 2: ------------ */
.graficos-div2 {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.graficos-div1,
.div2-parte1,
.div2-parte2 {
    box-shadow: 0px 0px 6px #e7edf5;
    background: var(--white);
    border-radius: 1.5rem;
}

.pizza {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.div2-parte1 {
    width: 70%;
    display: flex;
}

.div2-parte2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.div2-parte1,
.div2-parte2 {
    height: 100%;
    padding: 2rem 2rem 0 2rem;
}

.graf {
    width: 50%;
}

.linhas {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h3 {
    font-size: 1.3rem;
    font-weight: 600;
}
.content h3,
.aconfig h3 {
    color: var(--text-nav);
}

.text-graf {
    display: flex;
    justify-content: space-between;
}

.text-graf p {
    font-size: 1.2rem;
    color: var(--icons-nav2);
}
.line,
.line-color {
    height: 0.3rem;
    border-radius: 10rem;
}

.line {
    width: 100%;
    background: #e7edf5;
    margin-top: 1rem;
}

.line-color {
    background: linear-gradient(
        to right,
        var(--bg-color-nav1),
        var(--gradient-img-dark)
    );
}

#linha1 {
    width: 32%;
}
#linha2 {
    width: 40%;
}
#linha3 {
    width: 65%;
}
#linha4 {
    width: 18%;
}
#linha5 {
    width: 8%;
}

/*-----------------------Gr?fico pizza--------------------------*/

.graficopizza {
    width: 50%;
}

.icon-graf {
    display: flex;
    height: 20%;
    font-size: 1.5rem;
    justify-content: space-around;
}

.icones-graf {
    display: flex;
    padding: 1rem;
}

.icones-graficos {
    padding-right: 1rem;
    width: 1rem;
}

.icons-graf,
h4 {
    padding-left: 0.3rem;
    font-size: 1.4rem;
    color: var(--text-nav);
}

/*-------------------grafico radar-------------------*/

.grafico-radar {
    padding-bottom: 2rem;
}

.grafico-pizza {
    display: flex;
    justify-content: center;
}

.graficoradar {
    width: 90%;
    padding: 1rem;
}

.icon-grafradar {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}
.icones-graficosradar {
    display: flex;
}
.icones-graficosradar,
h3 {
    font-size: 1.2rem;
    display: flex;
    gap: 0.5rem;
}
.icones-radar {
    width: 1rem;
}

/* -------------- Frmul?rios: -------------- */
.div-forms {
    box-shadow: 0px 0px 6px #e7edf5;
    background: var(--white);
    border-radius: 1.5rem;
}

.div-cliente {
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.div-estoque {
    padding: 2rem 20rem;
    display: flex;
    justify-content: space-between;
}

.div-fornecedor {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form .formulario {
    display: flex;
    flex-direction: column;
}

.salvar {
    width: 100%;
}

form .formulario-radio {
    display: flex;
    gap: 1rem;
}

/* ---------------- Footer: ---------------- */
footer {
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--icons-nav2);
}

/* RESPONSIVIDADE */
@media (max-width: 390px) {
    /* reset - resetando os itens */
    nav#nav .menu * {
        width: 390px;
        margin-right: 1rem;
        visibility: hidden;
    }
    nav#nav {
        background: var(--bg-color);
    }

    header{
        width: 85vw;
    }

    .cards, .div2-parte1, .graficos-div2{
        flex-direction: column;
    }

    .content .cards{
        width: 75vw;
        height: 50vh;

    }

    .card-green, .card-blue, .card-orange{
        width: 100%;
    }


    .div2-parte1, .div2-parte2{
        width: 75vw;
    }

    .grafico-pizza{
        padding: 2rem;
    }

    .graf-radar{
        padding-bottom: 2rem;
    }

    .linhas{
        padding: 1rem;
        width: 75vw;
    }

    #footer{
        width: 80vw;
    }
}

@media (max-width: 820px) {
    nav#nav .menu * {
        width: 0;
        margin-right: 1rem;
        visibility: hidden;
    }
    nav#nav {
        background: var(--bg-color);
    }

    .container{
        width: 820px;
        /* height: 1180px; */
    }

    h3{
        font-size: 1.5rem;
    }

    header{
        width: 90vw;
    }

    .content .cards{
        width: 90vw;
        /* height: 50vh; */

    }
    .content{
        width: 95vw;
    }

    .card-green, .card-blue, .card-orange{
        width: 90%;
        height: 10vh;
    }

    .graficos-div1{
        width: 78%;
    }

    .div1-parte3 .grafico-bars{
        width: 90%;
    }

    .graficos-div2{
        flex-direction: column;
    }

    .graficos-div2 .div2-parte1{
        width: 78%;
        justify-content: space-between;
    }
    .graficos-div2 .div2-parte2{
        width: 78%;
    }

    .graficoradar{
        width: 50%;
    }

    .div2-parte1 .graf-pizza{
        align-items: center;
        width: 50%;
        padding-top:1rem;
    }


    #footer{
        width: 100vw;
    }
}

@media (min-width: 1024px) {
    .menu,
    .ulmenu {
        margin: 2rem;
    }
}
