@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

:root{
    --white: #ffffff;
    --bg-color: #fafbff;

    /* nav - parte 1: */
    --bg-color-nav1: #0067ff;
    --gradient-light-nav1: #008df0;
    --gradient-dark-nav1: #015fe2;
    --light-icon-nav1: #f4f9fe;
    --icons-nav1: #66a3ff;
    --hover-nav1: #1a76ff;

    /* nav - parte 2: */
    --blue-nav2: #0067ff;
    --light-blue-nav2: #ecf1ff;
    --gradient-img-light: #f4fbff;
    --gradient-img-dark: #cde2ff;
    --icons-nav2: #bac2d0;
    --text-nav: #52536c;

    /* Card green: */
    --bg-card-green: #00d0c2;
    --gradient1-card-green: #45DDD1;
    --gradient2-card-green: #24D9CA;

    /* Card blue: */
    --bg-card-blue: #4B71F0;
    --gradient1-card-blue: #6D8DF4;
    --gradient2-card-blue: #607DF2;


    /* Card orange: */
    --bg-card-orange: #EF854B;
    --gradient1-card-orange: #F29B6E;
    --gradient2-card-orange: #F0925C;
}

/* div{
    border: 1px solid black;
} */

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Inter', sans-serif;
}

html{
    font-size: 62.5%;
}

.container{
    height: 100%;
    display: flex;
}

/* ----------------- Menu: ----------------- */
nav{
    display: flex;
    width: 25%;
}

.menu-icons{
    height: 100%;
    width: 20%;
    background: var(--bg-color-nav1);
}

.imenu-icons{
    display: flex;
    font-size: 3.8rem;
    width: 4.8rem;
    height: 4.8rem;
    padding: 0.5rem;
    color: var(--icons-nav1);
}

.iconshighleft, .amenu-icons{
    display: flex;
    font-size: 3rem;
    width: 4.8rem;
    height: 4.8rem;
    color: var(--icons-nav1);
    
}

.menu{
    display: flex;
    width: 17rem;
    gap: 0.3rem;
    flex-direction: column;
}

nav .menu .limenu{
    width: 15rem;
    padding: 1.5rem;
    transition: 0.2s;
}

nav .menu .limenu:hover{
   background:var(--hover-color-light);
    
}

.amenu{
    display:flex;
    align-items:center;
    color: var( --text-nav);
}

.limenu{
    transition: all .5s;
    border: 0.5rem solid transparent;
}

.limenu:hover{
    background:var(--light-color);
    cursor: pointer;
    transition: 0.5s;
    /* border-left: 0.5rem solid var(--border-hover); */
}

/* ------------------------------------------ */

.container2{
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 2rem 4.5rem 1rem 4.5rem;
    gap: 2rem;
    background: var(--bg-color);
}

/* ----------------- Header: ---------------- */
header{
    display: flex;
    justify-content: space-between;
    height: max-content;
    /* border: 1px solid black; */
    align-items: center;
    padding-top: 0.5rem;
}

.profile{
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 100%;
    box-shadow: 3px 2px 20px #b8bbc5;
}

.profile img{
    width: 100%;
    border-radius: 100%;
}

h2{
    color: var(--text-nav);
    font-size: 1.8rem;
    font-weight: 600;
}

/* ----------------- Cards: ----------------- */
.cards{
    display: flex;
    justify-content: space-around;
}

/* ----------- Gr�ficos - div 1: ------------ */

/* ----------- Gr�ficos - div 2: ------------ */
.graficos-div2{
    display: flex;
    justify-content: space-between;
}

.div2-parte1{
    width: 55%;
}

.div2-parte2{
    width: 40%;
}

/* ---------------- Footer: ---------------- */
footer{
    border: 1px solid black;
}